.products {
  display: flex;
  flex-wrap: wrap;

}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

nav {
  background: #cfd8dc;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: bold;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

.cont {
  display: flex;
  justify-content: center;
}

.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
}

h3, h4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

button {
  margin: 10px;
}